<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SKALA Attendance</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SKALA Attendance</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>kr.skalife.attendance</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>skala</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/skalife/attendance-appcast/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Wd3jeI01lpAYggUMHynFMN2FmRbwldZUGyao2hS4lik=</string>
	<key>UMAMI_BASE_URL</key>
	<string>https://gateway.umami.is</string>
	<key>UMAMI_HOSTNAME</key>
	<string>attendance-app.skalife.kr</string>
	<key>UMAMI_WEBSITE_ID</key>
	<string>2cb15230-9bd7-4488-bad8-e806d5f96619</string>
</dict>
</plist>
